workflows
[{"updatedAt":"2026-02-01T08:51:39.988Z","createdAt":"2026-02-01T08:37:53.534Z","id":"lAAgLr0MKVyrJw6f","name":"payment","active":false,"isArchived":false,"nodes":[{"parameters":{"path":"payment/:bill","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-320,-160],"id":"7c34a0f4-2571-47fe-9fe9-37dd4823070f","name":"Webhook","webhookId":"3554ca15-d1c8-460c-b57c-d887d58c6a99","notesInFlow":false},{"parameters":{"respondWith":"json","responseBody":"{\n  \"status\": true,\n  \"message\": \"Orçamento salvo\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[256,-160],"id":"193f75ff-d3de-43fe-b58a-e289f89b45bb","name":"status true"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"leads","mode":"list","cachedResultName":"leads"},"limit":1,"where":{"values":[{"column":"contact_email","value":"={{ $json.body.contactEmail }}"},{"column":"contact_phone","value":"={{ $json.body.contactPhone }}"},{"column":"estimated_value","value":"={{ $json.body.estimatedValue }}"},{"column":"estimated_time","value":"={{ $json.body.estimatedTime }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-112,-384],"id":"cffa3000-8e07-44ae-81e1-4eddddb09552","name":"search for repeated budgets","alwaysOutputData":true,"credentials":{"postgres":{"id":"flvNl9FrHkuVsdsN","name":"Postgres account"}}}],"connections":{"Webhook":{"main":[[{"node":"status true","type":"main","index":0}]]},"search for repeated budgets":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f40d98b3-64c5-4839-a4b9-1299ebe13756","triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-01T08:37:53.534Z","createdAt":"2026-02-01T08:37:53.534Z","role":"workflow:owner","workflowId":"lAAgLr0MKVyrJw6f","projectId":"SMbq0ruGSiiAxzYL","project":{"updatedAt":"2026-02-01T05:58:14.134Z","createdAt":"2026-02-01T05:55:21.811Z","id":"SMbq0ruGSiiAxzYL","name":"Christian Silva <gamesparamundo123@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2026-02-01T08:35:10.737Z","createdAt":"2026-02-01T05:59:33.301Z","id":"MQ238exZ29rE20aR","name":"budget","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"budget","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-320,-160],"id":"6f3484c5-e3ca-4684-87ff-3c5f7bdeb160","name":"Webhook","webhookId":"75b28574-d50d-4374-a332-d919c47d3380"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"status\": false,\n  \"message\": \"Orçamento já salvo\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[352,-256],"id":"356e6e5c-1644-4684-86ad-ec0485ac6df8","name":"status false"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"status\": true,\n  \"message\": \"Orçamento salvo\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[576,-64],"id":"19cbb6e1-5726-4e01-a2e1-6c9e0de128f3","name":"status true"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f790fc52-e83d-433b-b01e-bd21b65ad546","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{"ignoreCase":false}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[128,-160],"id":"ab6ab0bc-ca79-4f5c-8c94-c423ca94f766","name":"If has budge"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"leads","mode":"list","cachedResultName":"leads"},"limit":1,"where":{"values":[{"column":"contact_email","value":"={{ $json.body.contactEmail }}"},{"column":"contact_phone","value":"={{ $json.body.contactPhone }}"},{"column":"estimated_value","value":"={{ $json.body.estimatedValue }}"},{"column":"estimated_time","value":"={{ $json.body.estimatedTime }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-96,-160],"id":"424eccd8-4f96-41da-8baa-fc62adacd7da","name":"search for repeated budgets","alwaysOutputData":true,"credentials":{"postgres":{"id":"flvNl9FrHkuVsdsN","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"leads","mode":"list","cachedResultName":"leads"},"columns":{"mappingMode":"defineBelow","value":{"developer_count":"={{ $('Webhook').item.json.body.developerCount }}","feature_count":"={{ $('Webhook').item.json.body.featureCount }}","estimated_value":"={{ $('Webhook').item.json.body.estimatedValue }}","estimated_time":"={{ $('Webhook').item.json.body.estimatedTime }}","contact_name":"={{ $('Webhook').item.json.body.contactName }}","organization_name":"={{ $('Webhook').item.json.body.organizationName }}","contact_email":"={{ $('Webhook').item.json.body.contactEmail }}","contact_phone":"={{ $('Webhook').item.json.body.contactPhone }}","service_type":"={{ $('Webhook').item.json.body.serviceType }}","application_type":"={{ $('Webhook').item.json.body.applicationType }}","project_name":"={{ $('Webhook').item.json.body.projectName }}","project_description":"={{ $('Webhook').item.json.body.projectDescription }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"contact_name","displayName":"contact_name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"organization_name","displayName":"organization_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"contact_email","displayName":"contact_email","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"contact_phone","displayName":"contact_phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"service_type","displayName":"service_type","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"application_type","displayName":"application_type","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"project_name","displayName":"project_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"project_description","displayName":"project_description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"developer_count","displayName":"developer_count","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"feature_count","displayName":"feature_count","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"estimated_value","displayName":"estimated_value","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"estimated_time","displayName":"estimated_time","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"is_attended","displayName":"is_attended","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[352,-64],"id":"93bb78c2-a211-4d1d-b021-71ef5ec2f813","name":"salvar dados","credentials":{"postgres":{"id":"flvNl9FrHkuVsdsN","name":"Postgres account"}}}],"connections":{"Webhook":{"main":[[{"node":"search for repeated budgets","type":"main","index":0}]]},"If has budge":{"main":[[{"node":"status false","type":"main","index":0}],[{"node":"salvar dados","type":"main","index":0}]]},"search for repeated budgets":{"main":[[{"node":"If has budge","type":"main","index":0}]]},"salvar dados":{"main":[[{"node":"status true","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9ae8fdcb-879f-4d7c-ba81-38e0fc1befdc","triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-01T05:59:33.301Z","createdAt":"2026-02-01T05:59:33.301Z","role":"workflow:owner","workflowId":"MQ238exZ29rE20aR","projectId":"SMbq0ruGSiiAxzYL","project":{"updatedAt":"2026-02-01T05:58:14.134Z","createdAt":"2026-02-01T05:55:21.811Z","id":"SMbq0ruGSiiAxzYL","name":"Christian Silva <gamesparamundo123@gmail.com>","type":"personal","icon":null,"description":null}}]}]